{% extends 'base.html' %}

{% block content %}
    <h1 style="color: #8B4513; text-align: center; margin-top: 20px;">Book Details</h1>
    
    <div style="border: 1px solid #ddd; padding: 15px; margin: 15px; border-radius: 5px;background-color: #D2B48C;">
        <h2 style="color: #b15a09;">Author: {{ book.author }}</h2>
        <p><strong>Title:</strong> {{ book.title }}</p>
        <p><strong>Description:</strong> {{ book.description }}</p>
        <p><strong>Rating:</strong> {{ book.rating }}</p>
        <p><strong>Publish Date:</strong> {{ book.publish_date }}</p>
    </div>
{% endblock content %}
